@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    background: #eaebf0;
}

.card {
    box-shadow: 0 .46875rem 2.1875rem rgba(59,62,102,.03),0 .9375rem 1.40625rem rgba(59,62,102,.03),0 .25rem .53125rem rgba(59,62,102,.05),0 .125rem .1875rem rgba(59,62,102,.03);
    border-radius: 10px;
}

* {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 90%;
}

code {
  font-family: monospace;
  font-size: inherit;
}

code > * {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.blog-container > p, span {
    font-size: 1.2em;
}

.table {
    border: 1px solid #e1e1e1;
}

.blog-list-item .attribute {
    color: #777;
}

.user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

.secondary-text {
    color: #777;
}

@media (max-width: 768px) { 
    .user-profile .user-initial {
        position: relative;
        top: 8px;
    }
}